<div class="white">
  
<p style="font-weight: 400;">Общи условия за ползване на <a href="http://www.honeycomb-rollers.com/">www.honeycomb-rollers.com</a>&nbsp; &nbsp;&nbsp;&nbsp;</p>
<p style="font-weight: 400;">&nbsp;</p>
<ol>
<li style="font-weight: 400;">Дефиниции</li>
</ol>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">ДРУЖЕСТВОТО означава СИМЕОНОВ ГРУП 03 ЕООД.</p>
<p style="font-weight: 400;">САЙТ или ИНТЕРНЕТ МАГАЗИН означава уебсайта www.honeycomb-rollers.com &nbsp;</p>
<p style="font-weight: 400;">КУПУВАЧ/ЪТ означава физическо или юридическо лице, ползващo сайта www.honeycomb-rollers.com</p>
<p style="font-weight: 400;">СТОКА, АРТИКУЛ или ПРОДУКТ означава предлагана от Дружеството стока.</p>
<p style="font-weight: 400;">ЛИЧНИ ДАННИ означава лични данни по смисъла на Регламент (EU) 2016/679 (Общ регламент за защита на личните данни/GDPR)</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Настоящите общи условия важат за продажба на стоки на Купувачи, с цел професионална употреба.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">&nbsp;</p>
<ol>
<li style="font-weight: 400;">Общи положения</li>
</ol>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Този уебсайт е собственост на СИМЕОНОВ ГРУП 03 ЕООД, със седалище и адрес на управление: България, гр. София 1407, ул. Драгалевска № 8, вх. Е, ет. 6, ап. 112, вписано в Търговския регистър с ЕИК 206778437, телефон за контакт. +359 882 829 893, имейл: <a href="mailto:yuri.simeonovv@gmail.com">yuri.simeonovv@gmail.com</a> .</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Цялото съдържание на уебсайта е предмет на авторски права, принадлежащи на Дружеството. Нищо на този уебсайт не трябва да бъде разбирано като даващо на Купувача права или разрешение да използва снимки, търговска марка, лого или друга информация от този уебсайт. Копирането или свалянето на информация от сайта не прехвърля върху Купувача авторските права върху тази информация. Съдържанието на този сайт може да бъде променяно на постоянна база от Дружеството.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Използването, копирането и разпространението на каквато и да била част от съдържанието на сайта, без писменото съгласие на Дружеството е забранено. Препратки към този сайт са разрешени само след съгласието на Дружеството.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Стоки и информация</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Чрез електронна поръчка от сайта могат да бъдат закупувани единствено и само тези стоки, които системата позволява. Цялата информация относно предлаганите за продажба чрез онлайн магазина стоки, е описана в представянето на съответния продукт.</p>
<p style="font-weight: 400;">Дружеството произвежда и продава машини и резервни части за восъчни основи.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Тези стоки са предназначени основно за професионална, занаятчийска употреба.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Цени</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Всички представени в сайта цени са в съответната местната за Купувача валута и са валидни единствено и само към момента на публикуването им. Дружеството си запазва правото без предупреждение да ги променя. Представените в магазина цени на стоки са крайни и включват всички данъци и такси, без цената за доставка, която зависи от цените на куриерската услуга и без евентуални такси за мито (ако такова се дължи) и др.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Поръчки</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Поръчки могат да извършват само Купувачи, приели тези Общи условия и Политиката за поверителност. Ако Купувачът пожелае да получи фактура, фактурирането на закупените продукти става само в съответната местна за Купувача валута. Сроковете за доставка на поръчките зависят от партньорите на Дружеството - куриерски фирми. Възможностите за доставка могат да бъдат променяни от Дружеството по всяко време и обявявани на сайта.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Плащане</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Купувачът заплаща цената на поръчана стока онлай чрез електронната платформа за онлайн плащания STRIPE.COM, която е собственост и е управлявана от независимо от Дружеството юридическо лице. Дружеството не събира и не съхранява данни за платежните инструменти на Купувача.</p>
<p style="font-weight: 400;">Всички плащания се извършват в местната за Купувача валута.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Дружеството може да издава и електронна фактура (наричана по-надолу е-фактура), в която са изброени поръчаните стоки, тяхната цена и цената за доставка. С приемането на тези Условия Купувачът дава своето изрично съгласие да получава е-фактури.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Договор</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Договорът за продажба от разстояние между Дружеството и Купувача се счита за сключен от момента на плащане на стоката. Преди да изпрати поръчаната стока, Дружеството може да се свърже с Купувача на посочения от него телефон, с цел уточняване на детайли за поръчката и/или доставката.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Дружеството не носи отговорност за неизпълнение на поръчка в случаите, когато Купувачът е посочил неверни, непълни и/или неточни лични данни, включително когато е посочил непълен, неточен или фиктивен адрес или телефон.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Доставка на поръчана стока</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Доставката на поръчана чрез онлайн магазина стока се извършва с &bdquo;Български пощи&ldquo; ЕАД, с ЕИК: 121396123, уеб сайт: <a href="http://www.bgpost.bg/">www.bgpost.bg</a> . При доставката Купувачът подписва стокова разписка за приемо-предаване, която удостоверява точното изпълнение на поръчката.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">В случай, че Купувачът не пребивава или не е установен в България, а на територията на друга Държава - членка в Европейския съюз и/или на територията на трета страна, и желае да получи заявените от него стоки в тази друга държава, то същият следва да има предвид, че с оглед трансграничната доставка на стоки, срокът за получаване може да бъде значително удължен.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Обичайно, доставката се извършва в срок до 5 работни дни на територията на Република България. При трансграничната доставка на стоки, срокът за получаване може да бъде значително удължен.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">При невъзможност за връчване на пратката, не по вина на Дружеството или на куриера, лицето, извършващо доставката, може да се обади на посочения от Купувача телефон за контакт, за да бъде уточнено следващо посещение за доставка. При невъзможност за връчване на пратката не по вина на Дружеството или куриера и невъзможност да се установи контакт с Купувача, договорът за продажба от разстояние автоматично се прекратява.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Отказ от сделка от разстояние</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Купувачът (в случай, че е физическо лице, а не &ndash; юридическо лице, и/или в случай, че поръчаната стока не е за целите на упражнявана професионална дейност) има правата на потребител по смисъла на местните закони за защита на потребителите и респ. - правото да се откаже от този договор и да върне стоката, без да посочва причина, без да дължи обезщетение или неустойка и без да заплаща каквито и да е разходи, с изключение на разходите за куриер, в 14-дневен срок, считано от датата на доставка на поръчаната стока.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Когато Купувачът упражни правото си на отказ от договора, Купувачът трябва да изпрати или предаде стоките обратно на Дружеството без неоправдано забавяне и не по-късно от 14 дни, считано от датата, на която Купувачът е получил стоката, като към пратката приложи и следния Формуляр за отказ:</p>
<p style="font-weight: 400;">&nbsp;</p>
<p>Стандартен формуляр за упражняване правото на отказ от договора</p>
<p>&nbsp;</p>
<p>От: ......................................................................................</p>
<p>&nbsp;</p>
<p>До: &nbsp;СИМЕОНОВ ГРУП 03 ЕООД, България, гр. София 1407, ул. Драгалевска № 8, вх. Е, ет. 6, ап. 112, телефон за контакт. +359 882 829 893</p>
<p>&nbsp;</p>
<p>С настоящото уведомявам,че се отказвам от сключения от мендоговор за покупка на следните стоки: ..................................................................</p>
<p>Номер Поръчка: .................................................................</p>
<p>Поръчано на: ......................................................................</p>
<p>Получено на: ......................................................................</p>
<p>Подпис на потребителя .....................................................</p>
<p>Дата .....................................................................................</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Крайният срок се смята за спазен, ако Купувачът изпрати или предаде стоките обратно на Дружеството преди изтичането на 14-дневния срок. Върнатите артикули следва да бъдат изпратени до Дружеството на адреса на седалището, както е посочено във Формуляра по-горе.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">В случай, че Купувачът упражни правото си на отказ от договора, Дружеството възстановява на Купувача заплатената от него стойност на върнатия продукт, а Купувачът заплаща цената за транспорт/изпращане на върнатия продукт, която е за негова сметка. Цената за куриерската услуга за връщането, която трябва да бъде платена от Купувача зависи от теглото на продукта, който подлежи на връщане.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Когато Купувачът е поръчал повече от един артикул/продукт, а упражнява право на отказ по отношение само на един продукт и връща само него, по отношение на останалите артикули договорът между него и Дружеството остава в сила, като Купувачът поема разходът за доставка на стоката и разходът за връщане на стоката, определен по начина в предходния параграф, а Дружеството му възстановява заплатената цена на върнатия артикул.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Купувачът има право да получи само стойността на върната стока, такава, каквато е била при заявката и закупуването й. Сумата се възстановява на Купувача по банков път, в срок до 14 дни от получаването на стоката при Дружеството. Това е необходимо, за да може Дружеството да прегледа състоянието на върнатата стока и да се увери, че стоката отгoваря на условията по-долу.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Купувачът е длъжен да съхранява получената от него стока, заедно с опаковката и да осигури запазването им в добро състояние, а именно: без следи от употреба, без повреди, без наранявания, без липсващи части. Целостта на стоката и на опаковката не трябва да бъдат нарушени. При неизпълнение на тези условия Дружеството запазва правото си да откаже да приеме върната стока и съответно да възстанови на Купувача платената сума.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Въпроси за рекламации и връщане може да се отправят на honeycomb.rollers@gmail.com или на телефон +359 882 829 893.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Рекламации на стоки</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Купувачът има право на рекламация за всяко несъответствие на стоката с договореното, когато след доставката, при първоначалния преглед са открити несъответствия с договора за продажба.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">При предявяване на рекламацията на стока Купувачът може да претендира за възстановяване на заплатената сума, за заменяне на стоката с друга от същия вид, съответстваща на договореното, или за отбив от цената.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Рекламацията се предявява пред Дружеството на е-мейл honeycomb.rollers@gmail.com. При предявяване на рекламация Купувачът посочва предмета на рекламацията, предпочитания от него начин за удовлетворяване на рекламацията, съответно размера на претендираната сума, адрес и телефон за контакт, банкова сметка.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">При подаване на рекламация Купувачът задължително прилага и документите, на които се основава претенцията:</p>
<p style="font-weight: 400;">- номер на поръчка;</p>
<p style="font-weight: 400;">- касова бележка или фактура;</p>
<p style="font-weight: 400;">- протоколи, актове или други документи, установяващи несъответствието на стоката или услугата с договореното;</p>
<p style="font-weight: 400;">- други документи, установяващи претенцията по основание и размер.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Рекламация на стоката трябва да се предяви веднага щом е открит дефектът, но не по-късно от 24 месеца от получаване на стоката. Рекламации след изтичане на този срок не се допускат.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Купувачът не може да претендира за възстановяване на заплатената сума или за намаляване цената на стоката, когато Дружеството се съгласи да бъде извършена замяна на стока с нова в рамките на един месец от предявяване на рекламацията.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">При рекламация Дружеството може да върне заплатената от Купувача цена на артикула, съгласно описаната по-горе процедура по банков път.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Въпроси за рекламации и връщане може да отправяте на honeycomb.rollers@gmail.com или на телефон +359 882 829 893</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Защита на личните данни</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Дружеството обработва лични данни в съответствие с Регламент 2016/679/ЕС относно защитата на физическите лица във връзка с обработването на личните данни и относно свободното движение на такива данни и за отмяна на Директива 95/46/ЕО. Информация за&nbsp; личните данни, които Дружеството обработва и за условията и реда, по който физическите лица, чиито лични данни се обработват, упражняват правата си може да намерите в Политиката за поверителност.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Други</p>
<p style="font-weight: 400;">Дружеството се ангажира да предоставя само стоките, представени в сайта, по начина, по който са представени. Цялата информация, представена на сайта, включително, но не само, дизайн, наличности и цени на стоките, е валидна единствено и само към момента на представянето й, като Дружеството си запазва правото по всяко време да я променя без предупреждение. Отговорност на Купувача е да проверява редовно условията за ползване на сайта, както и представената информация за цени, наличности и други.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">В случай, че Купувачът се е абонирал за информационния бюлетин, Дружеството има право да му изпраща бюлетин на предоставения имейл адрес. Купувачът може по всяко време да се откаже от получаването му чрез страницата на своя профил в сайта, или като използва включения в информационния бюлетин линк за отписване.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Купувачи, които нарушават условията за ползване на онлайн магазина, могат да бъдат ограничавани и техните поръчки - необработвани.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">За неуредените в настоящите общи условия въпроси се прилагат разпоредбите на действащото в Република България законодателство.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Възникнали спорове Дружеството се стреми да решава винаги по приятелски начин, а в случай, че всички възможности се изчерпат, споровете се решават от компетентния съд или от орган за алтернативно решаване на спорове. Орган за алтернативно решаване на спорове са местните помирителни комисии към Комисия за защита на потребителите. При възникване на спор, свързан с онлайн продажба, Купувачът (в случай, че е потребител) може да ползва сайта за онлайн разрешаване на спорове (плаформата на ЕС за решаване на спорове между онлайн търговци и потребители), достъпен на адрес: ec.europa.eu/odr.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Дружеството не е отговорно за каквито и да било грешки, които могат да възникнат на сайта, поради всякаква причина, включително и тези, причинени от промени, настройки, технически причини или други.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Дружеството си запазва правото да публикува рекламни банери от всякакъв вид и/или връзки на която и да е част от сайта, съобразно действащото законодателство.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">&nbsp;</p>
</div>