<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

<section id="contact-details" class="section-p1">
  <div class="details bubble">
      <span>{{'contact.get_in_touch' | translate}}</span>
      <h2>{{'contact.visit_distributors' | translate}}</h2>
      <h3>{{'contact.sofia_bulgaria' | translate}}</h3>
      <div>
          <li>
            <div class="pair">
              <div class="icon">
                <i class="fal fa-map" style="color:white;"></i></div>
                <div class="text">{{'contact.address' | translate}}</div>
            </div>
          </li>
          <!--
          <li>
              <i class="far fa-envelope"></i>
              <p>contact@example.com </p>
          </li>
          -->
          <li>
            <div class="pair">
              <div class="icon"><i class="fas fa-phone-alt" style="color:white;"></i></div>
              <div class="text">+359 88 650 8084</div>
            </div>
            
          </li>
          <li>
            <div class="pair">
              <div class="icon">
                <i class="far fa-clock col-sm-1" style="color:white;"></i>
              </div>
                <div class="text">
                  {{'contact.working_hours_1' | translate}} <br> {{'contact.working_hours_2' | translate}}
                </div>
            </div>
              
              
          </li>
      </div>
  </div>

  <div class="map">
      <iframe src="https://maps.google.com/maps?q=%20325-1,,%20%D0%B6.%D0%BA%20%D0%9C%D0%BB%D0%B0%D0%B4%D0%BE%D1%81%D1%82%203%203251,%201712%20%D0%A1%D0%BE%D1%84%D0%B8%D1%8F&t=&z=13&ie=UTF8&iwloc=&output=embed"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</section>

<div class="container bubble">
    <div class="content">
      <div class="left-side">
        <!-- <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Surkhet, NP12</div>
          <div class="text-two">Birendranagar 06</div>
        </div> -->
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">{{'phone' | translate}}</div>
          <div class="text-one">tel 1</div>
          <div class="text-two">tel 2 </div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">{{'Email' | translate}}</div>
          <div class="text-one">honeycomb.rollers@gmail.com</div>
          <!-- <div class="text-two">email@example.com</div> -->
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">{{'contact.send_message_header' | translate}}</div>
        <p>{{'contact.send_message_sub' | translate}}</p>
      <form action="#" [formGroup]="contactUs" (ngSubmit)="sendMessage()">
        <div class="input-box">
          <input type="text" placeholder="{{'contact.enter_name' | translate}}" formControlName="name">
        </div>
        <div class="input-box">
          <input type="text" placeholder="{{'contact.enter_email' | translate}}" formControlName="email">
        </div>
        <div class="input-box message-box">
            <textarea placeholder="{{'contact.enter_message' | translate}}" formControlName="message"></textarea>
        </div>
        <div class="button">
          <button class="submitBtn" type="submit" value="Send Now" [disabled]="!contactUs.valid">{{'contact.send_now' | translate}}</button>
        </div>
      </form>
    </div>
    </div>
  </div>