p {
    font-size: 16px;
    color: whitesmoke;
    margin: 15px 0 20px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    background: transparent;
    padding: 11px 18px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    cursor: pointer;
    transition: 0.2 ease;
}

.section-p1 .pro {
    background-color: white;
}

body {
    width: 100%;
    background-color: #333;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 80px;
    background-image: url("../../../assets/img/hero4.png");
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: top 25% right 0;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #088178;
}

#hero button {
    background-image: url("../../../assets/img/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    border-radius: 4px;
    border: 1px solid #cce7d0;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, .03);
    transition: 0.3s ease;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

#homeparagraph {
    text-align: left;
    margin: 5%;
    color: whitesmoke;
    line-height: 2vh;
}

#banner {
    background-image: url("../../../assets/img/banner/banner1y.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#banner h4 {
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}



#product1 .pro-container {
    display: flex;


    padding-top: 20px;
}
    #product1 .pro-container {
        justify-content: center;
    }

#each .pro-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    margin: auto;
    justify-content: center;
}
.particles-js-canvas-el {
    position: fixed;
    width: 100%;
    z-index: -1;
}
#particles-js{
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /*width: 100%;
    height: 100vh;*/
    background: #8000FF;
    display: flex;
    justify-content: left;
    align-items: center;
  
  }