
<!-- <div id="particles-js" style="background-color: yellow; height: 600px;">
  <div style="display: block; position: absolute; font-size: 105px; margin-left: 6%;">
    <h1 style="font-size: 105px;margin-bottom: 60px;"><b>Honneycomb</b></h1>
    <h1 style="font-size: 105px; float: left;"><b>Rollers</b></h1>
  </div>
</div> -->
<app-home-banner></app-home-banner>


<!-- <div style="display: block; position: absolute; font-size: 105px; margin-left: 6%;">
  <h1 style="font-size: 105px;margin-bottom: 60px;"><b>Honneycomb</b></h1>
  <h1 style="font-size: 105px; float: left;"><b>Rollers</b></h1>
</div> -->
<!-- <div class="particle-background">
  <Particles id="tsparticles" [options]="options" style="width:100%;height:100%;position:absolute;top: 0;left: 0">
    <div style="display: block; position: absolute; font-size: 105px; margin-left: 6%;">
      <h1 style="font-size: 105px;margin-bottom: 60px;"><b>Honneycomb</b></h1>
      <h1 style="font-size: 105px; float: left;"><b>Rollers</b></h1>
    </div>
  </Particles> 
</div> -->

<section id="homeparagraph" class="section-p1">
  <h2 style="font-size: 40px;">Foundation making for everyone.</h2>    
  <div class="float-child">
    <div class="green">Our specialty is 3D printed honeycomb rollers, designed to revolutionize the way you extract honey. With 3D printing, we have made this technology more affordable and accessible for beekeepers of all levels. Our 3D printed honeycomb rollers are not only cost-effective, but they also come with the added benefit of easy repair, as spare parts are readily available. Join us in embracing the future of beekeeping technology and make your honey extraction process easier, more efficient, and more sustainable with our 3D printed honeycomb rollers.</div>
  </div>
</section>


<section id="banner" class="section-m1">
  <h2>Check your <span>E-mail</span> for Promocodes and Sales</h2>
  <!-- Button click -->
  <button class="normal" type="button" onclick="location.href='shop.html'">Explore More </button>
</section>