@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container {
    display: flex;
    align-items: center;
    /* max-width: 500px; */
    
    min-height: 120px;
    border-radius: 10px;
    border: 2px solid yellow;
    padding: 0;
    cursor: pointer;
    background-color: black;
    align-self: center;
    
  }
  img {
    margin: 0;
    padding: 0;
    
    height: 200px;
    width: auto;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .text {
    padding: 0;
    margin: 0;
    margin-right: 5px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: black;
    position: relative;
    line-height: 2.3vh;
  }

.card-text {
    color: white;
    background-color: black;

}

.card {

    max-width: 600px;
    margin: 10px;
    background-color: black;
    border-radius: 10px;
    border: 2px solid yellow;
    font-size: 20px;
    cursor: pointer;

}


@media (max-width:1200px) {

    .container {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        border: none;
        background-color: transparent;
        padding-bottom: 20px;
    }
    .text {
        margin: 10px;
        font-size:15px;
        background-color: transparent;
        text-align: center;
    }
    img {
        height: 150px;
        width: auto;
        border-radius: 8px;
        border: 2px solid yellow;
    }

    .card {
        display: none;
    }
}


@media (min-width:1200px) {

    .container {

        display: none;
        
    }
    .text {
        font-size:20px;
    }
}